<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1340">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <h2 class="cs-title">Move In. Move Up.<br />Move Forward.</h2>
      <div class="cs-social">
        <a
          class="cs-social-link"
          aria-label="Visit Facebook Profile"
          href="{{ client.social.facebook }}"
          target="_blank"
        >
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/facebook-1a.svg"
            alt="Facebook"
            width="11"
            height="11"
          />
        </a>
        <a
          class="cs-social-link"
          aria-label="Visit Instagram Profile"
          href="{{ client.social.instagram }}"
          target="_blank"
        >
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/instagram-1a.svg"
            alt="Instagram"
            width="11"
            height="11"
          />
        </a>
        <a
          class="cs-social-link"
          aria-label="Visit LinkedIn Profile"
          href="{{ client.social.linkedin }}"
          target="_blank"
        >
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/linkedin-1a.svg"
            alt="LinkedIn"
            width="11"
            height="11"
          />
        </a>
        <a
          class="cs-social-link"
          aria-label="Visit YouTube Profile"
          href="{{ client.social.youtube }}"
          target="_blank"
        >
          <img
            class="cs-social-img"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/youtube-1a.svg"
            alt="YouTube"
            width="11"
            height="11"
          />
        </a>
      </div>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Quick Links</span>
      <ul class="cs-ul">
        {% set navPages = collections.all | eleventyNavigation %} {% for entry
        in navPages %}
        <li class="cs-li">
          <a href="{{ entry.link }}" class="cs-link">{{ entry.key }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <!-- Contact Info -->
      <span class="cs-header">Contact</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="tel:{{ client.phoneForTel }}">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/phone-1a.svg"
              alt="phone icon"
              width="24"
              height="24"
            />
            {{ client.phoneFormatted }}
          </a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="mailto:{{ client.email }}">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/email-1a.svg"
              alt="email icon"
              width="24"
              height="24"
            />
            {{ client.email }}
          </a>
        </li>
        <li class="cs-li">
          <!--Make this link go to the google page-->
          <a class="cs-link" href="" target="_blank">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/pin-1a.svg"
              alt="pin icon"
              width="24"
              height="24"
            />
            {{client.address.lineOne }}<br />
            {{client.address.city}}, {{client.address.state}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2024.
      <a href="/" class="cs-credit-link" aria-label="Return to Homepage"
        >Good Labor Jobs</a
      >.
    </span>
    <div class="cs-bottom-links">
      <a href="" class="cs-bottom-link">Privacy Policy</a>
      <a href="" class="cs-bottom-link">Terms and Conditions</a>
    </div>
  </div>
</footer>
