---
title: "About"
description: "The LESS branch of the advanced starter kit. Provides a LESS processor to provide extra tools and functionality when writing your CSS."
permalink: "about/"
eleventyNavigation:
  key: "About"
  order: "200"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
  <div class="cs-container">
    <span class="cs-int-title">About Us</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">About</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner-construction-worker.webp"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/banner-construction-worker.webp"
    />
    <img
      decoding="async"
      src="/assets/images/banner-construction-worker.webp"
      alt="Construction Worker Climbing"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-1402">
  <div class="cs-container">
    <div class="cs-image-group">
      <div class="cs-flex">
        <picture class="cs-background">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer2.jpg
            "
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer2.jpg"
            alt="people"
            width="542"
            height="728"
          />
        </picture>
        <div class="cs-box">
          <img
            class="cs-box-icon"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-easy.svg"
            alt="people"
            width="60"
            height="60"
          />
          <span class="cs-desc"> 20+ Years of Experience </span>
        </div>
      </div>
    </div>
    <div class="cs-content">
      <h1 class="cs-title">About Good Labor Jobs</h1>
      <p>Content p1</p>
      <p>Content p2</p>
      <p>Content preview</p>
      <h2>Heading 2</h2>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
