---
title: "Labor Staffing Agency That Transforms US Communities"
description: "More than a labor staffing agency—we're building stronger communities by connecting Puerto Rican talent with mainland opportunities that transform lives."
permalink: "about/"
eleventyNavigation:
  key: "About"
  order: "400"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
  <div class="cs-container">
    <h1 class="cs-int-title">About Us</h1>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">About</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner-construction-worker.webp"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/banner-construction-worker.webp"
    />
    <img
      decoding="async"
      src="/assets/images/banner-construction-worker.webp"
      alt="Construction Worker Climbing"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1667">
  <div class="cs-container">
    <div class="cs-image-group">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/about-us-construction-worker.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/about-us-construction-worker.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/about-us-construction-worker.webp"
          alt="people standing"
          width="605"
          height="690"
        />
      </picture>
      <!--SVG Graphic-->
      <img
        class="cs-floater"
        src="/assets/images/opaque-logo.webp"
        alt="graphic"
        loading="lazy"
        decoding="async"
        height="710"
        aria-hidden="true"
        width="690"
      />
    </div>
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">About Good Labor Jobs</h2>
      <p class="cs-text">
        Welcome to Good Labor Jobs, where our commitment to excellence and
        service has positioned us as the premier choice for Puerto Rican,
        migrant, and non-US labor recruitment for over twenty years. Our mission
        goes beyond mere job placement; it's about enhancing lives and
        strengthening communities by providing meaningful employment
        opportunities throughout the United States.
      </p>
      <ul class="cs-faq-group">
        <li class="cs-faq-item active">
          <button class="cs-button">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/mission.svg"
              alt="icon"
              width="32"
              height="32"
            />
            <span class="cs-button-text"> Our Mission and Values </span>
            <span class="cs-indicator" aria-hidden="true"></span>
          </button>
          <p class="cs-item-p">
            At the heart of Good Labor Jobs is our unwavering mission: "To serve
            others in all we do." This philosophy is underpinned by our core
            values of integrity, humility, passion, accountability,
            perseverance, innovation, and teamwork. These principles guide our
            actions and decisions, ensuring we consistently exceed the
            expectations of our customers, employees, and the communities we
            serve. Continue scrolling to Meet Our Team to learn more about the
            people who embody these values every day, or discover how these
            principles shape <a href="/services">Our Services</a>.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/history.svg"
              alt="icon"
              width="32"
              height="32"
            />
            <span class="cs-button-text"> Our History </span>
            <span class="cs-indicator" aria-hidden="true"></span>
          </button>
          <p class="cs-item-p">
            From our modest beginnings in 2000, Good Labor Jobs has grown from
            staffing local businesses to becoming a pivotal player in the
            staffing industry, placing thousands in jobs from
            multibillion-dollar industrial factories to mom-and-pop shops in
            landscaping, construction, and hospitality.
            <a href="/testimonials">Read our success stories</a> to see how
            we've made a difference.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/purpose.svg"
              alt="icon"
              width="32"
              height="32"
            />
            <span class="cs-button-text"> Our Purpose </span>
            <span class="cs-indicator" aria-hidden="true"></span>
          </button>
          <p class="cs-item-p">
            We believe in the power of work to transform lives. Our purpose is
            to improve lives by offering fair, desirable work opportunities at
            outstanding companies. Rooted in honesty, integrity, and maturity,
            we strive to give everyone a fair chance to showcase their
            qualifications to employers. Explore
            <a href="/jobs">Career Opportunities</a> or learn about our
            Community Involvement.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/goal.svg"
              alt="icon"
              width="32"
              height="32"
            />
            <span class="cs-button-text"> Our Goal </span>
            <span class="cs-indicator" aria-hidden="true"></span>
          </button>
          <p class="cs-item-p">
            Our goal is clear: to be recognized by our customers and employees
            as the number one service provider in the staffing industry. We are
            committed to retaining the best people, being a training and
            learning organization, and maintaining best practice standards. See
            how our <a href="/services">Services</a> are making an impact or
            browse our <a href="/blog">Insights and Inspiration</a>.
          </p>
        </li>
      </ul>
      <a href="/services" class="cs-button-solid">View Our Services</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1710">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Why Choose Us</span>
      <h2 class="cs-title">
        Why Partner with Good Labor Jobs Staffing and Recruiting
      </h2>
    </div>
    <div class="cs-wrapper">
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-item-number">01</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Extensive Industry Experience</h3>
            <p class="cs-item-text">
              Our longevity in the field has equipped us with the knowledge and
              expertise to navigate the complexities of staffing and
              recruitment, ensuring we match you with the perfect opportunity.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">02</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Proprietary Recruiting Pipeline</h3>
            <p class="cs-item-text">
              Our unique recruiting process is designed to connect you with
              leading companies across the United States.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">03</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Comprehensive Support Services</h3>
            <p class="cs-item-text">
              We offer ongoing assistance with training, integration, and career
              development to ensure you're set up for success from day one and
              continue to thrive in your role.
            </p>
          </div>
        </li>
      </ul>
      <ul class="cs-card-group">
        <li class="cs-item">
          <span class="cs-item-number">04</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Commitment to Employee Growth</h3>
            <p class="cs-item-text">
              Through training programs, professional development opportunities,
              and mentorship, we invest in your future, helping you to move up
              and forward in your career.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">05</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">High Standards of Integrity and Maturity</h3>
            <p class="cs-item-text">
              Our core values of honesty, integrity, and maturity are at the
              heart of everything we do.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <span class="cs-item-number">07</span>
          <div class="cs-item-wrapper">
            <h3 class="cs-h3">Proven Track Record of Success</h3>
            <p class="cs-item-text">
              With a high rate of employee satisfaction and numerous success
              stories, our track record demonstrates our ability to consistently
              deliver results that exceed expectations.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!---SVG Graphic-->
    <img
      class="cs-floater"
      src="/assets/images/opaque-logo-2.webp"
      alt="graphic"
      loading="lazy"
      decoding="async"
      height="710"
      aria-hidden="true"
      width="690"
    />
  </div>
  <picture class="cs-picture">
    <source
      media="(min-width: 1024px)"
      srcset="/assets/images/banner-of-progress.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/banner-of-progress.webp"
    />
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner-of-progress.webp"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/banner-of-progress.webp"
      alt="Good Labor Jobs Here to Serve"
      width="1280"
      height="620"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1677">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Our Team</span>
      <h2 class="cs-title">Committed to Your Success</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/coby-orr-good-labor-jobs-team.webp"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/coby-orr-good-labor-jobs-team.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/coby-orr-good-labor-jobs-team.webp"
            alt="person"
            width="290"
            height="380"
          />
        </picture>
        <a
          href="https://www.linkedin.com/in/cobyorr/"
          class="cs-link"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/linkedin-green.svg"
            alt="LinkedIn Profile"
            width="22"
            height="22"
          />
        </a>
        <div class="cs-info">
          <span class="cs-name">Coby Orr</span>
          <span class="cs-job">President</span>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/wyatt-orr-good-labor-jobs-team.webp"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/wyatt-orr-good-labor-jobs-team.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/wyatt-orr-good-labor-jobs-team.webp"
            alt="person"
            width="290"
            height="380"
          />
        </picture>
        <a
          href="https://www.linkedin.com/in/wyatt-orr/"
          class="cs-link"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/linkedin-green.svg"
            alt="LinkedIn Profile"
            width="22"
            height="22"
          />
        </a>
        <div class="cs-info">
          <span class="cs-name">Wyatt Orr</span>
          <span class="cs-job">Business Development</span>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/clay-martin-good-labor-jobs-team.webp"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/clay-martin-good-labor-jobs-team.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/clay-martin-good-labor-jobs-team.webp"
            alt="person"
            width="290"
            height="380"
          />
        </picture>
        <a
          href="https://www.linkedin.com/in/clay-martin-7788b179/"
          class="cs-link"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/linkedin-green.svg"
            alt="LinkedIn Profile"
            width="22"
            height="22"
          />
        </a>
        <div class="cs-info">
          <span class="cs-name">Clay Martin</span>
          <span class="cs-job">VP of Business Development</span>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/isaac-cabrera-good-labor-jobs-team.webp"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/isaac-cabrera-good-labor-jobs-team.webp"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/isaac-cabrera-good-labor-jobs-team.webp"
            alt="person"
            width="290"
            height="380"
          />
        </picture>
        <a
          href="https://www.linkedin.com/in/isaac-cabrera-203a1a230/"
          class="cs-link"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/linkedin-green.svg"
            alt="LinkedIn Profile"
            width="22"
            height="22"
          />
        </a>
        <div class="cs-info">
          <span class="cs-name">Isaac Cabrera</span>
          <span class="cs-job">Director of Human Resources</span>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-488">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Join Us</span>
      <h2 class="cs-title">Let's Build a Future Together</h2>
      <a href="/contact" class="cs-link">Contact Us</a>
    </div>
  </div>
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/good-labor-jobs-business-meeting-m.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/good-labor-jobs-business-meeting.webp"
    />
    <img
      loading="lazy"
      decoding="async"
      src="/assets/images/good-labor-jobs-business-meeting.webp"
      alt="meeting"
      width="1920"
      height="543"
      aria-hidden="true"
    />
  </picture>
</section>

{% endblock %}
