---
title: "Contact Us | Skilled Staffing Partnerships Start Here"
description: "Ready to strengthen your workforce with skilled staffing solutions? Connect with Good Labor Jobs today to discuss your manufacturing and trades staffing needs."
permalink: "contact/"
eleventyNavigation:
  key: "Contact"
  order: 500
  showOn: "mobile"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
  <div class="cs-container">
    <h1 class="cs-int-title">Contact Us</h1>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">Contact</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner-contact-here-to-serve.webp"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/banner-contact-here-to-serve.webp"
    />
    <img
      decoding="async"
      src="/assets/images/banner-contact-here-to-serve.webp"
      alt="Here to Serve"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

{% include 'components/cta.html' %} {% endblock %}
