---
title: "Testimonials"
description: ""
permalink: "testimonials/"
eleventyNavigation:
  key: "Testimonials"
  order: "500"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/testimonials.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
  <div class="cs-container">
    <span class="cs-int-title">Testimonials</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">Testimonials</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner-testimonials-happy-construction-worker.webp"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/banner-testimonials-happy-construction-worker.webp"
    />
    <img
      decoding="async"
      src="/assets/images/banner-testimonials-happy-construction-worker.webp"
      alt="Happy Construction Worker"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1673">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Success Stories</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/testimonial-1.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
          <span class="cs-name">
            Jacob Leonardo
            <span class="cs-job">Senior Manager of Rest Hotel</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            Good Labor Jobs provided our employees with competitive pay and
            benefits, job security and advancement, and a top-notch culture in
            which working conditions were favorable.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/svgs/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/testimonial-2.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
          <span class="cs-name">
            Marisol Angelucci
            <span class="cs-job">Former Housekeeper</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            Esta es una gran empresa para trabajar. Trabajar para ellos me dio
            conocimientos para continuar mi carrera como ama de llaves. Gracias
            a Good Labor Jobs puedo hacer mi trabajo bastante bien.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/svgs/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/testimonial-3.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
          <span class="cs-name">
            Trevor Corda
            <span class="cs-job">Hiring Manager at B&T Construction</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            We could not be more pleased with the hiring, staffing, and training
            services provided to us by Good Labor Jobs. The company left no
            stone unturned, from payrol tax filing down to fair labor standards.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/svgs/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/good-labor-jobs-reviews.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/good-labor-jobs-reviews.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/good-labor-jobs-reviews.webp"
      alt="Good Labor Jobs Reviews"
      width="886"
      height="842"
      loading="lazy"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1657">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Why Choose Us</span>
        <h2 class="cs-title">Why Choose Good Labor Jobs?</h2>
      </div>
      <ul class="cs-ul">
        <li class="cs-li">
          <span class="cs-number">01</span>
          <p class="cs-li-text">
            <strong>Experience</strong>: Good Labor Jobs boasts over 20 years of
            staffing industry leadership.
          </p>
        </li>
        <li class="cs-li">
          <span class="cs-number">02</span>
          <p class="cs-li-text">
            <strong>Customization</strong>: Tailored solutions to fit the
            precise needs of clients and candidates.
          </p>
        </li>
        <li class="cs-li">
          <span class="cs-number">03</span>
          <p class="cs-li-text">
            <strong>Support</strong>: Comprehensive support services, from job
            placement to payroll and compliance.
          </p>
        </li>
      </ul>
    </div>
    <div class="cs-wrapper">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/good-labor-jobs-top-employee.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/good-labor-jobs-top-employee.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/good-labor-jobs-top-employee.webp"
          alt="meeting"
          width="630"
          height="414"
        />
      </picture>

      <p class="cs-review">
        <svg
          class="cs-quote"
          preserveAspectRatio="none"
          viewBox="0 0 100 93"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          preser
        >
          <g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)">
            <path
              d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"
            />
          </g>
          <defs>
            <clipPath id="a-1657">
              <path
                fill="#fff"
                transform="translate(0 .854)"
                d="M0 0h100v83.146H0z"
              />
            </clipPath>
          </defs>
        </svg>

        If you do well enough, they give you an option to change positions or to
        learn something new. If you've got the guts, you can do it.
      </p>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
