---
title: "Testimonials"
description: "Real stories of success with Good Labor Jobs. See how we connect talent to opportunity!"
permalink: "testimonials/"
eleventyNavigation:
  key: "Testimonials"
  order: "500"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/testimonials.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
  <div class="cs-container">
    <span class="cs-int-title">Testimonials</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="" class="cs-link cs-active">Testimonials</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/banner-testimonials-happy-construction-worker.webp"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/banner-testimonials-happy-construction-worker.webp"
    />
    <img
      decoding="async"
      src="/assets/images/banner-testimonials-happy-construction-worker.webp"
      alt="Happy Construction Worker"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1673">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Success Stories</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/testimonial-1.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
          <span class="cs-name"><span class="cs-job"></span> </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            We’ve been pleased with the customer service provided by Good Labor
            and the technicians they’ve recruited for us. We look forward to
            continuing this partnership to help fulfill our staffing needs.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/svgs/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/testimonial-2.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
          <span class="cs-name"><span class="cs-job"></span> </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            For 3 years Good Labor has helped staff my landscape company with
            experienced workers that come back each year. It's comforting to
            know I can count on them to help with my labor needs.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/svgs/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <picture class="cs-picture">
            <img
              class="cs-profile"
              src="/assets/images/testimonial-3.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
              loading="lazy"
            />
          </picture>
          <span class="cs-name"><span class="cs-job"></span> </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            Good Labor has been a reliable company to help with my labor needs.
            They handle everyting and make it an easy process.
            <br /><br /><br /><br />
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/svgs/gray-quote.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/good-labor-jobs-reviews.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/good-labor-jobs-reviews.webp"
    />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/good-labor-jobs-reviews.webp"
      alt="Good Labor Jobs Reviews"
      width="886"
      height="842"
      loading="lazy"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1657">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Why Choose Us</span>
        <h2 class="cs-title">Why Choose Good Labor Jobs?</h2>
      </div>
      <ul class="cs-ul">
        <li class="cs-li">
          <span class="cs-number">01</span>
          <p class="cs-li-text">
            <strong>Experience</strong>: Good Labor Jobs boasts over 20 years of
            staffing industry leadership.
          </p>
        </li>
        <li class="cs-li">
          <span class="cs-number">02</span>
          <p class="cs-li-text">
            <strong>Customization</strong>: Tailored solutions to fit the
            precise needs of clients and candidates.
          </p>
        </li>
        <li class="cs-li">
          <span class="cs-number">03</span>
          <p class="cs-li-text">
            <strong>Support</strong>: Comprehensive support services, from job
            placement to payroll and compliance.
          </p>
        </li>
      </ul>
    </div>
    <div class="cs-wrapper">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/good-labor-jobs-top-employee.webp"
        />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/good-labor-jobs-top-employee.webp"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/good-labor-jobs-top-employee.webp"
          alt="meeting"
          width="630"
          height="414"
        />
      </picture>

      <p class="cs-review">
        <svg
          class="cs-quote"
          preserveAspectRatio="none"
          viewBox="0 0 100 93"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          preser
        >
          <g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)">
            <path
              d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"
            />
          </g>
          <defs>
            <clipPath id="a-1657">
              <path
                fill="#fff"
                transform="translate(0 .854)"
                d="M0 0h100v83.146H0z"
              />
            </clipPath>
          </defs>
        </svg>

        If you do well enough, they give you an option to change positions or to
        learn something new. If you've got the guts, you can do it.
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Video                      -->
<!-- ============================================ -->

<section id="video-1682">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Video Testimonials</span>
      <h2 class="cs-title">Real Voices, Real Impact</h2>
      <p class="cs-text">
        <br />
        From life-changing career opportunities to partnerships that drive
        business success, these stories bring to life the experiences of those
        who've moved forward with us.
        <a href="{{ client.social.youtube }}" target="_blank"
          >Explore these stories and more on our YouTube channel</a
        >
        to see the real impact Good Labor Jobs can make.
      </p>
    </div>
    <a
      href="https://www.youtube.com/watch?v=-p1ZMPQkRfw"
      class="cs-big-link"
      target="_blank"
    >
      <!--Background Image-->
      <picture class="cs-background">
        <source
          media="(min-width: 1024px)"
          srcset="/assets/images/good-labor-jobs-video.webp"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/good-labor-jobs-video.webp"
        />
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/good-labor-jobs-video.webp"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/good-labor-jobs-video.webp"
          alt="Good Labor Jobs Video"
          width="1280"
          height="580"
        />
      </picture>
      <!--Play Icon-->
      <img
        class="cs-link-icon"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/play-icon.svg"
        alt="play icon"
        width="110"
        height="110"
        aria-hidden="true"
      />
    </a>
    <ul class="cs-card-group">
      <li class="cs-item">
        <h3 class="cs-h3">A Journey to Success</h3>
        <p class="cs-item-text">
          Discover Kenny's inspiring journey from job seeker to thriving
          professional in his dream role, highlighting the personalized support
          and opportunities provided by Good Labor Jobs.
        </p>
        <a
          href="https://www.youtube.com/watch?v=Ty3AOn1h1Os"
          class="cs-link"
          target="_blank"
        >
          <span class="cs-link-text">Watch Video</span>
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/green-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">Father and Son Duo Thrive</h3>
        <p class="cs-item-text">
          Witness the heartwarming journey of a father who beams with pride as
          he shares his testimony about working with his son at Good Labor Jobs.
          Discover the joy and growth they've experienced together in this
          touching narrative of family, dedication, and success.
        </p>
        <a
          href="https://www.youtube.com/watch?v=BE8UkBrOsfk"
          class="cs-link"
          target="_blank"
        >
          <span class="cs-link-text">Watch Video</span>
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/green-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
      <li class="cs-item">
        <h3 class="cs-h3">Spotlight: Jadhielle Díaz</h3>
        <p class="cs-item-text">
          Follow Jadhielle's story as he navigates through various positions
          with Good Labor Jobs, eventually finding a permanent role that ignited
          his career path and personal growth.
        </p>
        <a
          href="https://www.youtube.com/watch?v=-p1ZMPQkRfw"
          class="cs-link"
          target="_blank"
        >
          <span class="cs-link-text">Watch Video</span>
          <img
            class="cs-arrow"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/green-arrow.svg"
            alt="icon"
            width="20"
            height="20"
            aria-hidden="true"
          />
        </a>
      </li>
    </ul>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
