/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1402 {
    padding: var(--sectionPadding);
    padding-top: 16.875rem;
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
  }
  #banner-1402 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1402 .cs-int-title {
    /* 39px - 61px */
    font-family: "EB Garamond", Arial, sans-serif;
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-1402 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1402 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #banner-1402 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1402 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1402 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("/assets/svgs/white-chev.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
  }
  #banner-1402 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1402 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1402 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1402 .cs-background:after {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 40%;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #banner-1402 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1402 .cs-background:before {
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1667 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #services-1667 .cs-container {
    width: 100%;
    /* changes to 1280px at small desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 3.9vw, 4rem);
  }
  #services-1667 .cs-image-group {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
  }
  #services-1667 .cs-picture {
    width: 100%;
    min-height: 20.5rem;
    display: block;
    position: relative;
  }
  #services-1667 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #services-1667 .cs-floater {
    width: clamp(20.125rem, 40vw, 28.1875rem);
    height: clamp(20.1875rem, 40vw, 28.25rem);
    position: absolute;
    bottom: 0rem;
    z-index: 1;
    mix-blend-mode: soft-light;
  }
  #services-1667 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 40.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: none;
  }
  #services-1667 .cs-title {
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
  }
  #services-1667 .cs-text {
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
  }
  #services-1667 .cs-faq-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #services-1667 .cs-faq-item {
    list-style: none;
    width: 100%;
    background-color: transparent;
    border: 1px solid #e8e8e8;
    padding: 0;
    box-sizing: border-box;
    transition: border-bottom 0.3s;
  }
  #services-1667 .cs-faq-item.active .cs-indicator:before {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  #services-1667 .cs-faq-item.active .cs-indicator:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  #services-1667 .cs-faq-item.active .cs-item-p {
    height: auto;
    padding-top: 1rem;
    opacity: 1;
    transform: scaleY(1);
  }
  #services-1667 .cs-faq-item:hover {
    cursor: pointer;
  }
  #services-1667 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    border: none;
    background: transparent;
    color: var(--headerColor);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #services-1667 .cs-button:hover {
    cursor: pointer;
  }
  #services-1667 .cs-indicator {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    z-index: 1;
  }
  #services-1667 .cs-indicator:before {
    /* left line */
    content: "";
    width: 1rem;
    height: 0.125rem;
    background-color: #767676;
    opacity: 1;
    border-radius: 2px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
  }
  #services-1667 .cs-indicator:after {
    /* right line */
    content: "";
    width: 1rem;
    height: 0.125rem;
    background-color: #767676;
    opacity: 1;
    border-radius: 2px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform 0.5s;
  }
  #services-1667 .cs-button-text {
    width: 90%;
    padding: 0;
    display: block;
  }
  #services-1667 .cs-item-p {
    font-size: 0.875rem;
    line-height: 1.5em;
    width: 100%;
    max-width: none;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 1rem 1rem 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    position: relative;
    transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
  }
  #services-1667 .cs-icon {
    width: 2rem;
    height: 2rem;
    display: block;
  }
  #services-1667 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    width: clamp(11.625rem, 23vw, 13.625rem);
    /* 28px - 40px */
    margin: clamp(1.75rem, 3.9vw, 2.5rem) 0 0 0;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #services-1667 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    /* add a border radius below this to round corners */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-1667 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1667 .cs-picture {
    height: 100%;
    min-width: 36.5rem;
    width: 48vw;
    right: 0;
    top: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1667 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #services-1667 .cs-content {
    width: 55%;
  }
  #services-1667 .cs-image-group {
    width: 100%;
    max-width: 33.875rem;
    order: 2;
  }
  #services-1667 .cs-picture {
    width: 100%;
    min-width: 100%;
  }
  #services-1667 .cs-floater {
    width: 28.1875rem;
    left: clamp(50%, 18vw, 75%);
    bottom: -6.25rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1667 .cs-title,
  body.dark-mode #services-1667 .cs-text,
  body.dark-mode #services-1667 .cs-button-text,
  body.dark-mode #services-1667 .cs-item-p,
  body.dark-mode #services-1667 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1667 .cs-faq-item {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #services-1667 .cs-faq-item.active {
    border-color: var(--primary);
  }
  body.dark-mode #services-1667 .cs-faq-item.active .cs-button {
    color: var(--secondary);
  }
  body.dark-mode #services-1667 .cs-faq-item.active .cs-button:before,
  body.dark-mode #services-1667 .cs-faq-item.active .cs-button:after {
    background-color: var(--secondary);
  }
  body.dark-mode #services-1667 .cs-button {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1667 .cs-button:before,
  body.dark-mode #services-1667 .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1667 .cs-floater {
    opacity: 0.1;
  }
}
/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1710 {
    /* moved padding to the container so the cs-picture can be full width */
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #why-choose-1710 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    /* moved to container instead of section, moves back to the section container at tablet */
    padding: var(--sectionPadding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 3.9vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #why-choose-1710 .cs-container:before {
    /* light grey background overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #f7f7f7;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-1710 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #why-choose-1710 .cs-title {
    margin: 0;
    max-width: 23ch;
  }
  #why-choose-1710 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 16px - 32px */
    gap: clamp(1rem, 3.2vw, 2rem);
  }
  #why-choose-1710 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* 16px - 32px */
    gap: clamp(1rem, 2vw, 2rem);
  }
  #why-choose-1710 .cs-item {
    list-style: none;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  #why-choose-1710 .cs-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #why-choose-1710 .cs-item-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #why-choose-1710 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #why-choose-1710 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-1710 .cs-picture {
    width: 100%;
    max-width: 80rem;
    /* 340px - 620px */
    height: clamp(21.25rem, 47vw, 38.75rem);
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    /* clips the img from overflowing the container on hover */
    overflow: hidden;
  }
  #why-choose-1710 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-1710 .cs-floater {
    /* 246px - 582px */
    width: clamp(15.375rem, 50vw, 36.375rem);
    height: auto;
    position: absolute;
    right: -4rem;
    top: -0.5rem;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1710 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 60px - 100px */
    gap: clamp(3.75rem, 3.9vw, 6.25rem);
  }
  #why-choose-1710 .cs-container {
    padding: 0;
  }
  #why-choose-1710 .cs-container:before {
    width: 130vw;
    height: 180%;
    top: -9.375rem;
    left: 50%;
    transform: translateX(-50%);
  }
  #why-choose-1710 .cs-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1710 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #why-choose-1710 .cs-container:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body.dark-mode #why-choose-1710 .cs-title,
  body.dark-mode #why-choose-1710 .cs-h3,
  body.dark-mode #why-choose-1710 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1710 .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #why-choose-1710 .cs-floater {
    opacity: 0.1;
  }
}
