/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1400 {
    padding: var(--sectionPadding);
    /* 190px - 268px */
    padding-top: clamp(11.875rem, 25vw, 16.75rem);
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
  }
  #banner-1400 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1400 .cs-int-title {
    /* 39px - 61px */
    font-family: "EB Garamond", Arial, sans-serif;
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-1400 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1400 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #banner-1400 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1400 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1400 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("/assets/svgs/white-chev.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
  }
  #banner-1400 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1400 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1400 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1400 .cs-background:after {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 40%;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #banner-1400 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-1400 .cs-background:before {
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1329 {
    background-color: #f7f7f7;
    padding: var(--sectionPadding);
    position: relative;
  }
  #services-1329 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1329 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    gap: 1rem;
  }
  #services-1329 .cs-title {
    max-width: 20ch;
  }
  #services-1329 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-1329 .cs-item {
    list-style: none;
    width: 100%;
    /* 300px - 380px */
    height: clamp(18.75rem, 50vw, 23.75rem);
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    text-align: left;
    box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
    grid-column: span 12;
    z-index: 1;
  }
  #services-1329 .cs-item:hover .cs-picture::after {
    opacity: 1;
  }
  #services-1329 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1329 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #services-1329 .cs-item:hover .cs-number {
    opacity: 1;
    top: clamp(1.25rem, 2.3vw, 2rem);
  }
  #services-1329 .cs-item:hover .cs-arrow {
    opacity: 0.12;
    bottom: 50%;
    transform: translateY(50%);
  }
  #services-1329 .cs-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* 20px - 32px */
    padding: clamp(1.25rem, 2.3vw, 2rem);
    /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
  #services-1329 .cs-link::after {
    /* hover overlay */
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
    transition: opacity 0.3s;
  }
  #services-1329 .cs-number {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 2.7vw, 2.4375rem);
    font-weight: bold;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s, top 0.3s;
  }
  #services-1329 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 0.25rem 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
    text-align: inherit;
  }
  #services-1329 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColorWhite);
  }
  #services-1329 .cs-picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1329 .cs-picture:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(0, 0, 0, 0.76) 100%);
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #services-1329 .cs-picture:after {
    /* background color overlay on hover */
    content: "";
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(26, 26, 26, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(26, 26, 26, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #services-1329 .cs-picture img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #services-1329 .cs-arrow {
    width: 100%;
    height: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1329 {
    padding-bottom: 0;
  }
  #services-1329 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    gap: 2.5rem;
  }
  #services-1329 .cs-text {
    width: 50%;
  }
  #services-1329 .cs-title {
    margin: 0;
  }
}
/* Desktop - 900px */
@media only screen and (min-width: 56.25rem) {
  #services-1329 .cs-container {
    max-width: 80rem;
  }
  #services-1329 .cs-item {
    height: 30rem;
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1329 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #services-1329 .cs-title,
  body.dark-mode #services-1329 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1329 .cs-text,
  body.dark-mode #services-1329 .cs-item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1684 {
    padding: var(--sectionPadding);
  }
  #services-1684 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1684 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* left aligns the content, center the content by using 'center' */
    align-items: flex-start;
  }
  #services-1684 .cs-text {
    max-width: none;
  }
  #services-1684 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    gap: 1.75rem;
  }
  #services-1684 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  #services-1684 .cs-item:hover .cs-h3,
  #services-1684 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #services-1684 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #services-1684 .cs-item:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
  #services-1684 .cs-h3 {
    /* 20px - 31px */
    font-size: clamp(1.25rem, 2vw, 1.9375rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 1rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1684 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1.5rem 0;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-1684 .cs-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    margin-top: auto;
    color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    transition: color 0.3s;
  }
  #services-1684 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1684 .cs-link-text {
    width: fit-content;
  }
  #services-1684 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: filter 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1684 .cs-container {
    max-width: 80rem;
  }
  #services-1684 .cs-card-group {
    /* 20px - 32px */
    gap: clamp(1.25rem, 3vw, 2rem);
  }
  #services-1684 .cs-item {
    padding: 0;
    /* 20px - 32px */
    padding-left: clamp(1.25rem, 3vw, 2rem);
    border: none;
    border-left: 1px solid var(--primary);
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1684 .cs-title,
  body.dark-mode #services-1684 .cs-h3,
  body.dark-mode #services-1684 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1684 .cs-text,
  body.dark-mode #services-1684 .cs-item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1693 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    overflow: hidden;
  }
  #cta-1693 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1693 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    gap: 1.5rem;
  }
  #cta-1693 .cs-title {
    max-width: 30ch;
    margin: 0;
    color: #fff;
  }
  #cta-1693 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: #2c394b;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cta-1693 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cta-1693 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-1693 .cs-wrapper {
    width: 100%;
    max-width: 120rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    transform: translateX(-50%);
  }
  #cta-1693 .cs-graphic {
    width: 23.25rem;
    height: 23.25rem;
    opacity: 0.1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #cta-1693 .cs-graphic-1 {
    left: -16.3125rem;
  }
  #cta-1693 .cs-graphic-2 {
    right: -16.3125rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-1693 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  #cta-1693 .cs-graphic-1 {
    left: -7.8125rem;
  }
  #cta-1693 .cs-graphic-2 {
    right: -7.8125rem;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1646 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-1646 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1646 .cs-content {
    width: 100%;
    /* 32px - 80px top & bottom */
    /* 16px - 80px left & right */
    padding: clamp(2rem, 6vw, 5rem) clamp(1rem, 5vw, 5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* left aligns content, center it horizontally by setting to center */
    align-items: flex-start;
    /* left aligns content, center it horizontally by setting to center */
    text-align: left;
    background-color: #fff;
  }
  #services-1646 .cs-title {
    color: var(--headerColor);
  }
  #services-1646 .cs-text {
    /* 28px - 40px */
    margin-bottom: clamp(1.75rem, 3.9vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #services-1646 .cs-button-solid {
    font-size: 1rem;
    text-align: center;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    font-weight: 700;
    text-decoration: none;
    min-width: 9.1875rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #services-1646 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-1646 .cs-button-solid:hover {
    color: #fff;
  }
  #services-1646 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-1646 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-1646 .cs-item {
    list-style: none;
    /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
    text-align: left;
    width: 100%;
    margin: 0;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s;
    gap: 1.5rem;
    grid-column: span 12;
  }
  #services-1646 .cs-item:hover {
    border-color: var(--primary);
  }
  #services-1646 .cs-icon {
    width: 3rem;
    height: auto;
    display: block;
  }
  #services-1646 .cs-h3 {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1646 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1646 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #services-1646 .cs-content {
    width: 44%;
    max-width: 32.625rem;
    align-self: stretch;
    flex: none;
  }
  #services-1646 .cs-item {
    grid-column: span 6;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1646 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #services-1646 .cs-item,
  body.dark-mode #services-1646 .cs-content {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #services-1646 .cs-title,
  body.dark-mode #services-1646 .cs-text,
  body.dark-mode #services-1646 .cs-h2,
  body.dark-mode #services-1646 .cs-h3,
  body.dark-mode #services-1646 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1646 .cs-text,
  body.dark-mode #services-1646 .cs-item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1675 {
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
  }
  #steps-1675 .cs-container {
    width: 100%;
    /* changes to 1920px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
  }
  #steps-1675 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-1675 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 32.625rem;
  }
  #steps-1675 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-auto-flow: row;
  }
  #steps-1675 .cs-item {
    list-style: none;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* bottom border */
  }
  #steps-1675 .cs-item::after {
    content: "";
    width: 100%;
    height: 1px;
    /* to change the color of the bottom border, adjust the second color (at 50%). the first and third will blend the color to transparent */
    /* note you'll also have to change the color in the tablet media query when the lines go vertical */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #steps-1675 .cs-item:first-of-type {
    padding-top: 0;
  }
  #steps-1675 .cs-item:last-of-type {
    padding-bottom: 0;
  }
  #steps-1675 .cs-item:last-of-type::after {
    content: none;
  }
  #steps-1675 .cs-number {
    /* 80px - 100px */
    font-size: clamp(5rem, 1vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #steps-1675 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: -1.9375rem 0 1rem 0;
    color: var(--headerColor);
  }
  #steps-1675 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1675 .cs-container {
    max-width: 120rem;
  }
  #steps-1675 .cs-card-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  #steps-1675 .cs-item {
    /* 24px - 60px */
    padding: clamp(1.5rem, 3vw, 3.75rem);
    /* the specificity of the mobile .cs-item means we need to explicitly define the first and last items here, too */
  }
  #steps-1675 .cs-item::after {
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.6;
    right: 0;
    left: initial;
  }
  #steps-1675 .cs-item:first-of-type,
  #steps-1675 .cs-item:last-of-type {
    /* 24px - 60px */
    padding: clamp(1.5rem, 3vw, 3.75rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps-1675 .cs-topper {
    color: var(--primary);
  }
  body.dark-mode #steps-1675 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps-1675 .cs-item {
    border-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps-1675 .cs-item:after {
    opacity: 0.2;
  }
  body.dark-mode #steps-1675 .cs-item-text,
  body.dark-mode #steps-1675 .cs-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #steps-1675 .cs-h3,
  body.dark-mode #steps-1675 .cs-number {
    color: var(--primary);
  }
}
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1657 {
    padding: var(--sectionPadding);
    background-color: #f3f3f4;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1657 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1657 .cs-flex {
    max-width: 38.5rem;
  }
  #why-choose-1657 .cs-title {
    max-width: 20ch;
    margin-bottom: 1.5rem;
  }
  #why-choose-1657 .cs-ul {
    width: 100%;
    max-width: 32.625rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* 28px - 32px */
    gap: clamp(1.75rem, 3vw, 2rem);
  }
  #why-choose-1657 .cs-li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  #why-choose-1657 .cs-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #why-choose-1657 .cs-li-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-1657 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 40px - 64px */
    gap: clamp(2.5rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .cs-wrapper:before {
    /* white background */
    content: "";
    width: 100vw;
    height: 500%;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    /* 40px - 140px */
    top: clamp(2.5rem, 10vw, 8.75rem);
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1657 .cs-picture {
    width: 100%;
    height: 70vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1657 .cs-quote {
    /* 62px - 100px */
    width: clamp(3.875rem, 7vw, 6.25rem);
    height: auto;
    margin-bottom: -1.75rem;
    opacity: 0.4;
    position: relative;
    z-index: -1;
  }
  #why-choose-1657 .cs-review {
    --quoteColor: var(--primary);
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1657 .cs-container {
    max-width: 80rem;
    gap: 0;
  }
  #why-choose-1657 .cs-content {
    padding-bottom: 6.25rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #why-choose-1657 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 39.375rem;
    flex: none;
  }
  #why-choose-1657 .cs-title {
    margin: 0;
  }
  #why-choose-1657 .cs-wrapper {
    /* -60px to -140px */
    margin-top: calc(clamp(3.75rem, 10vw, 8.75rem)*-1);
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  #why-choose-1657 .cs-picture {
    width: 43vw;
    max-width: 39.375rem;
    height: auto;
    /* 252px - 414px */
    min-height: clamp(15.75rem, 30vw, 25.875rem);
    max-height: 100%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1657 .cs-review {
    /* 100px - 235px */
    /* pushes up against the container so there's always that gap between the top of the review and the container */
    margin-top: clamp(6.25rem, 20vw, 14.5rem);
    align-self: flex-end;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1657 {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body.dark-mode #why-choose-1657 .cs-title,
  body.dark-mode #why-choose-1657 .cs-li-text,
  body.dark-mode #why-choose-1657 .cs-review {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1657 .cs-li-text {
    opacity: 0.8;
  }
  body.dark-mode #why-choose-1657 .cs-wrapper:before {
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-488 {
    padding: 0 1rem;
    position: relative;
  }
  #cta-488 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  #cta-488 .cs-content {
    /* 252px - 284px, changes clamp at tablet */
    width: clamp(15.75rem, 38vw, 17.75rem);
    /* 20px - 88px left & right */
    padding: 0 clamp(1.25rem, 6.5vw, 5.5rem);
    /* 232px - 335px */
    padding-top: clamp(14.5rem, 26.7vw, 20.9375rem);
    /* 36px - 72px */
    padding-bottom: clamp(2.25rem, 5vw, 4.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background: rgba(0, 31, 63, 0.7);
  }
  #cta-488 .cs-topper {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    position: relative;
  }
  #cta-488 .cs-topper:before {
    content: "";
    /* 24px - 40px */
    width: clamp(1.5rem, 4vw, 2.5rem);
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: relative;
    display: block;
  }
  #cta-488 .cs-title {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    /* 20 characters wide including space */
    max-width: 20ch;
    margin: 0 0 1.25rem;
    color: var(--bodyTextColorWhite);
  }
  #cta-488 .cs-link {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0;
    color: var(--primary);
    display: inline-block;
    position: relative;
  }
  #cta-488 .cs-link:hover:before {
    width: 100%;
  }
  #cta-488 .cs-link:before {
    content: "";
    width: 0%;
    height: 0.1875rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.1875rem;
    left: 0;
    transition: width 0.3s;
  }
  #cta-488 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-488 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-488 .cs-container {
    justify-content: flex-end;
  }
  #cta-488 .cs-content {
    /* 284px - 522px */
    width: clamp(17.75rem, 40vw, 32.625rem);
    /* 60px - 108px */
    margin-right: clamp(3.75rem, 8vw, 6.75rem);
  }
}
