/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1400 {
    padding: var(--sectionPadding);
    padding-top: 16.875rem;
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
  }
  #banner-1400 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1400 .cs-int-title {
    /* 39px - 61px */
    font-family: "EB Garamond", Arial, sans-serif;
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-1400 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1400 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #banner-1400 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1400 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1400 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
  }
  #banner-1400 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1400 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1400 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1400 .cs-background:after {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 40%;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #banner-1400 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-1400 .cs-background:before {
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1673 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #reviews-1673 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4.5vw, 4rem);
  }
  #reviews-1673 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-1673 .cs-title {
    margin: 0rem;
  }
  #reviews-1673 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #reviews-1673 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    /* 20px - 40px top & bottom */
    /* 20px - 40px left & right */
    padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
    background-color: #f7f7f7;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    /* 24px - 48px */
    gap: clamp(1.5rem, 4vw, 3rem);
  }
  #reviews-1673 .cs-flex-group {
    /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
    margin-top: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #reviews-1673 .cs-profile {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    position: relative;
    display: block;
  }
  #reviews-1673 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1673 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1673 .cs-job {
    /* 14px - 16px */
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-1673 .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #reviews-1673 .cs-item-stars {
    width: 6.75rem;
    height: auto;
  }
  #reviews-1673 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    z-index: 1;
  }
  #reviews-1673 .cs-quote {
    width: 5.375rem;
    height: auto;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
  }
  #reviews-1673 .cs-background {
    display: none;
    position: absolute;
    left: 50%;
    /* changes to 40px at 1300px */
    right: 1rem;
    top: 2.5rem;
    bottom: 2.5rem;
    z-index: -1;
  }
  #reviews-1673 .cs-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1673 .cs-container {
    max-width: 80rem;
  }
  #reviews-1673 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #reviews-1673 .cs-background {
    display: block;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #reviews-1673 .cs-background {
    right: 2.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-1673 .cs-title,
  body.dark-mode #reviews-1673 .cs-review,
  body.dark-mode #reviews-1673 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-1673 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #reviews-1673 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.7;
  }
  body.dark-mode #reviews-1673 .cs-quote {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1657 {
    padding: var(--sectionPadding);
    background-color: #f3f3f4;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1657 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1657 .cs-flex {
    max-width: 38.5rem;
  }
  #why-choose-1657 .cs-title {
    max-width: 20ch;
    margin-bottom: 1.5rem;
  }
  #why-choose-1657 .cs-ul {
    width: 100%;
    max-width: 32.625rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* 28px - 32px */
    gap: clamp(1.75rem, 3vw, 2rem);
  }
  #why-choose-1657 .cs-li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  #why-choose-1657 .cs-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #why-choose-1657 .cs-li-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-1657 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 40px - 64px */
    gap: clamp(2.5rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .cs-wrapper:before {
    /* white background */
    content: "";
    width: 100vw;
    height: 500%;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    /* 40px - 140px */
    top: clamp(2.5rem, 10vw, 8.75rem);
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1657 .cs-picture {
    width: 100%;
    height: 70vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1657 .cs-quote {
    /* 62px - 100px */
    width: clamp(3.875rem, 7vw, 6.25rem);
    height: auto;
    margin-bottom: -1.75rem;
    opacity: 0.4;
    position: relative;
    z-index: -1;
  }
  #why-choose-1657 .cs-review {
    --quoteColor: var(--primary);
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1657 .cs-container {
    max-width: 80rem;
    gap: 0;
  }
  #why-choose-1657 .cs-content {
    padding-bottom: 6.25rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #why-choose-1657 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 39.375rem;
    flex: none;
  }
  #why-choose-1657 .cs-title {
    margin: 0;
  }
  #why-choose-1657 .cs-wrapper {
    /* -60px to -140px */
    margin-top: calc(clamp(3.75rem, 10vw, 8.75rem)*-1);
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }
  #why-choose-1657 .cs-picture {
    width: 43vw;
    max-width: 39.375rem;
    height: auto;
    /* 252px - 414px */
    min-height: clamp(15.75rem, 30vw, 25.875rem);
    max-height: 100%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1657 .cs-review {
    /* 100px - 235px */
    /* pushes up against the container so there's always that gap between the top of the review and the container */
    margin-top: clamp(6.25rem, 20vw, 14.5rem);
    align-self: flex-end;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-1657 {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body.dark-mode #why-choose-1657 .cs-title,
  body.dark-mode #why-choose-1657 .cs-li-text,
  body.dark-mode #why-choose-1657 .cs-review {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-1657 .cs-li-text {
    opacity: 0.8;
  }
  body.dark-mode #why-choose-1657 .cs-wrapper:before {
    background-color: var(--dark);
  }
}
