/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1402 {
    padding: var(--sectionPadding);
    padding-top: 16.875rem;
    padding-bottom: 6.25rem;
    position: relative;
    z-index: 1;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
  }
  #banner-1402 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1402 .cs-int-title {
    /* 39px - 61px */
    font-family: "EB Garamond", Arial, sans-serif;
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-1402 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1402 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #banner-1402 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1402 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1402 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("/assets/svgs/white-chev.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
  }
  #banner-1402 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1402 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1402 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1402 .cs-background:after {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 40%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#000000),
      to(rgba(0, 0, 0, 0))
    );
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #banner-1402 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1402 .cs-background:before {
    width: 50%;
    height: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#000000),
      to(rgba(0, 0, 0, 0))
    );
    background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1667 {
    padding: var(--sectionPadding);
    position: relative;
    overflow: hidden;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at small desktop */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 40px - 64px */
      gap: clamp(2.5rem, 3.9vw, 4rem);
    }

    .cs-image-group {
      width: 100%;
      height: auto;
      margin: 0;
      position: relative;
    }

    .cs-picture {
      width: 100%;
      min-height: (328/16rem);
      display: block;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cs-floater {
      width: clamp(20.125rem, 40vw, 28.1875rem);
      height: clamp(20.1875rem, 40vw, 28.25rem);
      position: absolute;
      bottom: (0/16rem);
      z-index: 1;
      mix-blend-mode: soft-light;
    }

    .cs-content {
      text-align: left;
      width: 100%;
      max-width: (650/16rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: none;
    }

    .cs-title {
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
    }

    .cs-text {
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
    }

    .cs-faq-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.4vw, 1.25rem);
    }

    .cs-faq-item {
      list-style: none;
      width: 100%;
      background-color: transparent;
      border: 1px solid #e8e8e8;
      padding: 0;
      box-sizing: border-box;
      transition: border-bottom 0.3s;

      &.active {
        .cs-indicator {
          &:before {
            transform: translate(-50%, -50%) rotate(360deg);
          }

          &:after {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }

        .cs-item-p {
          height: auto;
          padding-top: (16/16rem);
          opacity: 1;
          transform: scaleY(1);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .cs-button {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      width: 100%;
      padding: (16/16rem) (16/16rem) 0 (16/16rem);
      border: none;
      background: transparent;
      color: var(--headerColor);
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
      position: relative;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        cursor: pointer;
      }
    }

    .cs-indicator {
      width: (24/16rem);
      height: (24/16rem);
      position: relative;
      z-index: 1;

      &:before {
        /* left line */
        content: "";
        width: (16/16rem);
        height: (2/16rem);
        background-color: #767676;
        opacity: 1;
        border-radius: 2px;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s;
      }

      &:after {
        /* right line */
        content: "";
        width: (16/16rem);
        height: (2/16rem);
        background-color: #767676;
        opacity: 1;
        border-radius: 2px;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        transition: transform 0.5s;
      }
    }

    .cs-button-text {
      width: 90%;
      padding: 0;
      display: block;
    }

    .cs-item-p {
      font-size: (14/16rem);
      line-height: 1.5em;
      width: 100%;
      max-width: none;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 (16/16rem) (16/16rem) (16/16rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      position: relative;
      transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
    }

    .cs-icon {
      width: (32/16rem);
      height: (32/16rem);
      display: block;
    }

    .cs-button-solid {
      font-size: (16/16rem);
      font-weight: 700;
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      width: clamp(11.625rem, 23vw, 13.625rem);
      /* 28px - 40px */
      margin: clamp(1.75rem, 3.9vw, 2.5rem) 0 0 0;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      padding: 0 (24/16rem);
      color: #fff;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        /* add a border radius below this to round corners */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover:before {
        width: 100%;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1667 {
    .cs-picture {
      height: 100%;
      min-width: (584/16rem);
      width: 48vw;
      right: 0;
      top: 0;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1667 {
    .cs-container {
      max-width: (1280/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .cs-content {
      width: 55%;
    }

    .cs-image-group {
      width: 100%;
      max-width: (542/16rem);
      order: 2;
    }

    .cs-picture {
      width: 100%;
      min-width: 100%;
    }

    .cs-floater {
      width: (451/16rem);
      left: clamp(50%, 18vw, 75%);
      bottom: (-100/16rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #services-1667 {
      .cs-title,
      .cs-text,
      .cs-button-text,
      .cs-item-p,
      .cs-h3 {
        color: var(--bodyTextColorWhite);
      }

      .cs-faq-item {
        background-color: rgba(0, 0, 0, 0.4);
        border-color: rgba(255, 255, 255, 0.1);
      }

      .cs-faq-item.active {
        border-color: var(--primary);
      }

      .cs-faq-item.active .cs-button {
        color: var(--secondary);
      }

      .cs-faq-item.active .cs-button:before,
      .cs-faq-item.active .cs-button:after {
        background-color: var(--secondary);
      }

      .cs-button {
        color: var(--bodyTextColorWhite);
      }

      .cs-button:before,
      .cs-button:after {
        background-color: var(--bodyTextColorWhite);
      }

      .cs-floater {
        opacity: 0.1;
      }
    }
  }
}

/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1710 {
    /* moved padding to the container so the cs-picture can be full width */
    position: relative;
    overflow: hidden;
    z-index: 1;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      /* moved to container instead of section, moves back to the section container at tablet */
      padding: var(--sectionPadding);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 40px - 64px */
      gap: clamp(2.5rem, 3.9vw, 4rem);
      position: relative;
      z-index: 1;

      &:before {
        /* light grey background overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #f7f7f7;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    .cs-content {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-title {
      margin: 0;
      max-width: 23ch;
    }

    .cs-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* 16px - 32px */
      gap: clamp(1rem, 3.2vw, 2rem);
    }

    .cs-card-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      /* 16px - 32px */
      gap: clamp(1rem, 2vw, 2rem);
    }

    .cs-item {
      list-style: none;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: (16/16rem);
    }

    .cs-item-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (8/16rem);
    }

    .cs-item-number {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--primary);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: (8/16rem);
    }

    .cs-h3 {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      color: var(--headerColor);
    }

    .cs-item-text {
      font-size: (16/16rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .cs-picture {
      width: 100%;
      max-width: (1280/16rem);
      /* 340px - 620px */
      height: clamp(21.25rem, 47vw, 38.75rem);
      display: block;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      /* clips the img from overflowing the container on hover */
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    .cs-floater {
      /* 246px - 582px */
      width: clamp(15.375rem, 50vw, 36.375rem);
      height: auto;
      position: absolute;
      right: (-64/16rem);
      top: (-8/16rem);
      z-index: -1;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1710 {
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 60px - 100px */
    gap: clamp(3.75rem, 3.9vw, 6.25rem);

    .cs-container {
      padding: 0;

      &:before {
        width: 130vw;
        height: 180%;
        top: (-150/16rem);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .cs-wrapper {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #why-choose-1710 {
      background-color: rgba(0, 0, 0, 0.2);

      .cs-container {
        &:before {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      .cs-title,
      .cs-h3,
      .cs-item-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-item-text {
        opacity: 0.8;
      }

      .cs-floater {
        opacity: 0.1;
      }
    }
  }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1703 {
    padding: var(--sectionPadding);
    overflow: hidden;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (550/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-card-group {
      width: 100%;
      max-width: (911/16rem);
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      column-gap: clamp(1rem, 2vw, 1.5rem);
      row-gap: clamp(1.5rem, 3vw, 2.5rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      align-items: flex-start;

      &:hover .cs-picture img {
        transform: scale(1.1);
      }

      &:hover .cs-name {
        color: var(--primary);
      }
    }

    .cs-job {
      font-size: (16/16rem);
      line-height: 1em;
      color: var(--bodyTextColor);
      display: block;
    }

    .cs-picture {
      width: 100%;
      /* 300px - 380px */
      height: clamp(18.75rem, 70vw, 23.75rem);
      margin: 0;
      overflow: hidden;
      display: block;
      position: relative;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
        object-position: top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.7s;
      }
    }

    .cs-info {
      width: 100%;
      padding: 0;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: (12/16rem);
    }

    .cs-name {
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: (16/16rem) 0 0 0;
      color: var(--headerColor);
      display: block;
      transition: color 0.3s;
    }

    .cs-social {
      display: flex;
      align-items: flex-start;
      gap: (12/16rem);
    }

    .cs-link-icon {
      width: (16/16rem);
      height: auto;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1703 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-item {
      grid-column: span 4;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-1703 {
    .cs-container {
      flex-direction: row;
      align-items: flex-start;
    }

    .cs-card-group {
      width: 65vw;
      flex: none;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #meet-team-1703 {
      .cs-title,
      .cs-text,
      .cs-name,
      .cs-job {
        color: var(--bodyTextColorWhite);
      }

      .cs-job {
        opacity: 0.8;
      }
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-488 {
    padding: 0 (16/16rem);
    position: relative;

    .cs-container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }

    .cs-content {
      /* 252px - 284px, changes clamp at tablet */
      width: clamp(15.75rem, 38vw, 17.75rem);
      /* 20px - 88px left & right */
      padding: 0 clamp(1.25rem, 6.5vw, 5.5rem);
      /* 232px - 335px */
      padding-top: clamp(14.5rem, 26.7vw, 20.9375rem);
      /* 36px - 72px */
      padding-bottom: clamp(2.25rem, 5vw, 4.5rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      background: rgba(0, 31, 63, 0.7);
    }

    .cs-topper {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      line-height: 1.2em;
      font-weight: 700;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-bottom: (16/16rem);
      color: var(--bodyTextColorWhite);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: (20/16rem);
      position: relative;

      &:before {
        content: "";
        /* 24px - 40px */
        width: clamp(1.5rem, 4vw, 2.5rem);
        height: 2px;
        background: var(--primary);
        opacity: 1;
        position: relative;
        display: block;
      }
    }

    .cs-title {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      width: 100%;
      /* 20 characters wide including space */
      max-width: 20ch;
      margin: 0 0 (20/16rem);
      color: var(--bodyTextColorWhite);
    }

    .cs-link {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      line-height: 1.2em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin: 0;
      color: var(--primary);
      display: inline-block;
      position: relative;

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &:before {
        content: "";
        width: 0%;
        height: (3/16rem);
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: (-3/16rem);
        left: 0;
        transition: width 0.3s;
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-488 {
    .cs-container {
      justify-content: flex-end;
    }

    .cs-content {
      /* 284px - 522px */
      width: clamp(17.75rem, 40vw, 32.625rem);
      /* 60px - 108px */
      margin-right: clamp(3.75rem, 8vw, 6.75rem);
    }
  }
}
