/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1400 {
    padding: var(--sectionPadding);
    padding-top: (270/16rem);
    padding-bottom: (100/16rem);
    position: relative;
    z-index: 1;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;

    .cs-container {
      text-align: center;
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /* 8px - 12px */
      gap: clamp(0.5rem, 1vw, 0.75rem);
    }

    .cs-int-title {
      /* 39px - 61px */
      font-family: "EB Garamond", Arial, sans-serif;
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColorWhite);
      position: relative;
    }

    .cs-breadcrumbs {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cs-link {
      font-size: (16/16rem);
      line-height: 1.2em;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:last-of-type {
        /* remove the chevron on the last list item */
        &::after {
          display: none;
        }
      }

      &:after {
        /* chevron */
        content: "";
        width: (7/16rem);
        height: (12/16rem);
        margin: 0 (16/16rem);
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: relative;
      }

      &.cs-active {
        color: var(--primary);
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &:after {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 40%;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(rgba(0, 0, 0, 1)),
          to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(
          top,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      img {
        width: 100%;
        height: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-1400 {
    .cs-background {
      &:before {
        width: 50%;
        height: 100%;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(rgba(0, 0, 0, 1)),
          to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(
          left,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        opacity: 1;
      }
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1673 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* 40px - 64px */
      gap: clamp(2.5rem, 4.5vw, 4rem);
    }

    .cs-content {
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-title {
      margin: (0/16rem);
    }

    .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
    }

    .cs-item {
      list-style: none;
      width: 100%;
      max-width: (630/16rem);
      /* 20px - 40px top & bottom */
      /* 20px - 40px left & right */
      padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
      background-color: #f7f7f7;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      /* 24px - 48px */
      gap: clamp(1.5rem, 4vw, 3rem);
    }

    .cs-flex-group {
      /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
      margin-top: auto;
      display: flex;
      align-items: flex-start;
      gap: (12/16rem);
    }

    .cs-profile {
      width: (52/16rem);
      height: (52/16rem);
      border-radius: 50%;
      position: relative;
      display: block;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* makes the image behave like a background image */
        object-fit: cover;
      }
    }

    .cs-name {
      /* 20px - 25px */
      font-size: (20/16rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
      margin-top: auto;
      color: var(--headerColor);
      display: block;
    }

    .cs-job {
      /* 14px - 16px */
      font-size: (16/16rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: (16/16rem);
    }

    .cs-item-stars {
      width: (108/16rem);
      height: auto;
    }

    .cs-review {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.6vw, 1.25rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      z-index: 1;
    }

    .cs-quote {
      width: (86/16rem);
      height: auto;
      position: absolute;
      right: (0/16rem);
      bottom: (0/16rem);
      z-index: 0;
    }

    .cs-background {
      display: none;
      position: absolute;
      left: 50%;
      /* changes to 40px at 1300px */
      right: (16/16rem);
      top: (40/16rem);
      bottom: (40/16rem);
      z-index: -1;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1673 {
    .cs-container {
      max-width: (1280/16rem);
    }

    .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .cs-background {
      display: block;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #reviews-1673 {
    .cs-background {
      right: (40/16rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #reviews-1673 {
      .cs-title,
      .cs-review,
      .cs-name {
        color: var(--bodyTextColorWhite);
      }

      .cs-item {
        background-color: var(--medium);
      }

      .cs-job {
        color: var(--bodyTextColorWhite);
        opacity: 0.7;
      }

      .cs-quote {
        opacity: 0.2;
      }
    }
  }
}
